# This file must be copied to the root of the Pontoon's repository,
# Then the requirements.py310.txt can be generated with the following command:
#
#     uv pip compile --generate-hashes requirements.py310.in -o requirements.py310.txt
#

-r requirements.txt

# Python 3.10 additional dependency for anyio
exceptiongroup==1.2.2

# Python 3.10 additional dependency for moz-l10n
tomli==1.1.0
