# This file must be copied to the root of the Pontoon's repository,
# Then the requirements.py37.txt can be generated with the following command:
#
#     pip-compile --generate-hashes requirements.py37.in
#

-r requirements.txt

# Python 3.7 additional dependency for jsonpickle, kombu
importlib_metadata==3.7.0

# Python 3.7 additional dependency for importlib_metadata
typing-extensions==3.6.6

# Python 3.7 additional dependency for kombu
cached_property==1.5.2
